@import "./variables";

/* GENERAL & BACKGROUND STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("../../images/bg-pattern.svg");
  background-repeat: no-repeat;
  // background-size: 350%;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 71%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url("../../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* border:5px solid black; */

  h1 {
    text-align: center;
    font-size: 1em;
    z-index: 1;
  }

  p {
		margin-top: 0.75em;
    text-align: center;
    font-size: 0.65em;
		line-height: 1.75em;
    color: map-get($colors, grayish-blue);
  }
}

/* MAIN */

main {
  /* Positioning */
  position: absolute;
  top: 29%;
  left: 0;
  right: 0;
  bottom: 0;
  /* Display and Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Color */
  /* Text */
  /* Other */
}

// CARD AND SECTIONS (CARD_ELEMENTS)

.card {
  width: 328px;
  height: 480px;
  background-color: map-get($colors, very-pale-blue);
  box-shadow: 0 10px 500px map-get($colors, light-grayish-blue);
  border-radius: 10px;

  &__elements-1 {
    height: 40%;
  }

  &__elements-2 {
    height: 60%;
    width: 100%;
  }
}

/* CARD ELEMENTS 1 */

.pageview-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 31%;
  width: 100%;
  font-size: 0.59em;
  font-weight: 700;
  letter-spacing: 2px;
  color: map-get($colors, grayish-blue);
}

// SLIDER

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
#slider {
  width: 80%;
  font-size: 1em;
  -webkit-appearance: none;
  margin-right: 15px;
  // width: 200px;
  height: 10%;
  background: map-get($colors, lighter-grayish-blue);
  border-radius: 5px;
  background-image: linear-gradient(
    map-get($colors, soft-cyan),
    map-get($colors, soft-cyan)
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.75em;
    width: 1.75em;
    border-radius: 50%;
    background: url("../../images/icon-slider.svg");
    background-color: map-get($colors, strong-cyan);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    outline: none;
    cursor: pointer;
    box-shadow: 0 10px 30px 0 map-get($colors, strong-cyan);
    transition: background 0.3s ease-in-out;
  }
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
	&::-webkit-slider-thumb:active {
		background-color: map-get($colors, dark-desaturated-blue);
		cursor: grabbing;

	}


}

.rate-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29%;
  gap: 12px;
  &__price {
    font-weight: 800;
    font-size: 1.5em;
    color: map-get($colors, dark-desaturated-blue);
  }
  &__cycle {
    font-size: 0.55em;
    color: map-get($colors, grayish-blue);
  }
}

/* CARD ELEMENTS 2 */

.rate-type-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  // border: 1px solid black;
  &__label {
    font-size: 11px;
    margin: 5px;
    color: map-get($colors, grayish-blue);
  }

  &__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 37px;
    border-radius: 15px;

    color: map-get($colors, light-red);
    text-align: center;
    font-size: 10px;
    font-weight: 60;
    background-color: map-get($colors, light-grayish-red);
		span {
			display: none;
		}
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: map-get($colors, light-grayish-blue);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 21%;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  label:active:after {
    width: 32px;
  }
  #switch {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  #switch:checked + label {
    background: map-get($colors, strong-cyan);
  }

  #switch:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-90%);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 70%;
	border-top: 1px solid map-get($colors, lighter-grayish-blue);
  &__description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 58%;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42%;
    button {
      width: 150px;
      height: 35px;
      border-radius: 25px;
      border: none;
      color: map-get($colors, pale-blue);
      background-color: map-get($colors, dark-desaturated-blue);
      font-size: 0.55em;
      cursor: pointer;
    }
  }
}

.description-text {
  font-size: 11px;
  margin-left: 12px;
  color: map-get($colors, grayish-blue);
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
	header {
		br {
			display: none;
		}
	}
  .background {
		background-size: contain;
  }
  .card {
    height: 398px;
    width: 541px;
    &__elements-1 {
      height: 45%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__elements-2 {
      height: 55%;
    }
  }
  .pageview-container {
		justify-content: center;
    height: 99px;
    order: 1;
		padding-bottom: 12px;
  }
  .rate-view-container {
		display: flex;
		align-items: flex-end;
    height: 99px;
    order: 2;
		&__price {
		}
		&__cycle {
			margin-bottom: 12px;
		}
  }
  .slider-container {
    height: 83px;
    grid-column: span 2;
    order: 3;
  }

  .rate-type-container {
		padding-left: 90px;
		&__discount {
			height: 15px;
			width: 79px;

			margin-left: 1em;
			span {
				text-align: right;
				display: inline;
			}
		}

		#discount-dash {
			display: none;
		}
  }

	.footer-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		gap: 30px;
		&__description-container {
			align-items: flex-start;
			height: 100%;
		}
		&__button-container {
			height: 100%;
		}
	}

}
